.dummy-positioning {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.success-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  border-radius: 50%;
  border: 4px solid #2d9962;
  position: relative;
  overflow: hidden;
  transform-origin: center;
  transform: scale(0);
}

.success-icon__tip,
.success-icon__long {
  position: absolute;
  height: 4px;
  background: #2d9962;
  visibility: hidden;
}

.success-icon__tip {
  top: 50%;
  left: 15%;
  width: 30%;
  transform: rotate(45deg);
}
.success-icon__long {
  top: 45%;
  left: 30%;
  width: 50%;
  transform: rotate(-45deg);
}
.success-icon__tip.final {
  top: 56%;
  left: 20%;
}
.success-icon__long.final {
  top: 50%;
  left: 36%;
}

.success-icon.active {
  animation: showSuccess 180ms ease-in-out;
  transform: scale(1);
}
.success-icon.active .success-icon__tip {
  animation: tipInPlace 300ms ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 180ms;
}
.success-icon.active .success-icon__long {
  animation: longInPlace 140ms ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 440ms;
}

@keyframes showSuccess {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes tipInPlace {
  from {
    width: 0em;
  }
  to {
    width: 30%;
    visibility: visible;
  }
}
@keyframes longInPlace {
  from {
    width: 0em;
  }
  to {
    width: 50%;
    visibility: visible;
  }
}
